.matcher{
  border: 1px solid red;
  height: 500px;
  .firstMatch{
    width: 200px;
    padding: 0px;
    float: left;
    vertical-align: top;
    text-align: center;
  }
  .secondMatch{
    width: 200px;
    padding: 0px;
    float: right;
    vertical-align: top;
    text-align: center;
  }
  .stats{
    margin-top: 280px;
    text-align: center;
  }
}

.pinged{
  ul{
    li{
      list-style-type: none;
    }
  }
}
