.matchLink{
  color: $sea;
  &:hover{
    color: $yellow;
  }
}
p{
  font-size: 17px;
  margin-bottom: 0px;
}
li{
  font-size: 17px;
}
.matcher{
  height: 600px;
  .firstMatch{
    width: 200px;
    padding: 0px;
    float: left;
    vertical-align: top;
    text-align: center;
  }
  .secondMatch{
    width: 200px;
    padding: 0px;
    float: right;
    vertical-align: top;
    text-align: center;
  }
  .stats{
    margin-top: 280px;
    text-align: center;
    input{
      margin-bottom:10px;
    }
  }
}

.theirPings{
  text-align: right;
}
.pinged{
  ul{
    padding: 0px;
    li{
      list-style-type: none;
      padding: 0px;
    }
  }
}
